body {
   background-image: url("");
    width: 90%;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-position-x: center;

}

.navbar-brand{
    font-size: xx-large;
}

.nav-item {
    font-size: x-large;
}
